$color-p: rgb(17, 57, 131);
$color-p-1: rgb(36, 84, 173);
$color-p-2: rgb(57, 109, 207);
$color-p-o: rgba(17, 57, 131, 0.3);
$color-p-1-o: rgba(36, 84, 173, 0.3);
$color-p-2-o: rgba(57, 109, 207, 0.3);

$color-t: rgb(19, 19, 19);
$color-t-1: rgb(29, 29, 29);
$color-t-2: rgb(39, 39, 39);
$color-t-d: rgb(236, 236, 236);
$color-t-d-1: rgb(226, 226, 226);
$color-t-d-2: rgb(216, 216, 216);
$color-t-o: rgba(19, 19, 19, 0.8);
$color-t-1-o: rgba(29, 29, 29, 0.8);
$color-t-2-o: rgba(39, 39, 39, 0.8);
$color-t-d-o: rgba(236, 236, 236, 0.8);
$color-t-d-1-o: rgba(226, 226, 226, 0.8);
$color-t-d-2-o: rgba(216, 216, 216, 0.8);

$color-bg: rgb(240, 240, 240);
$color-bg-d: rgb(15, 15, 15);